
@font-face{
	font-family: "VTKSSALGROSSO";
	src: url(fonts/VTKSSALGROSSO.ttf);
}
@font-face{
	font-family: "Arsenal-Regular";
	src: url(fonts/Arsenal-Regular.otf);
}
@font-face{
	font-family: "TIMESS__";
	src: url(fonts/TIMESS__.ttf);
}
@font-face{
	font-family: "BebasNeue";
	src: url(fonts/BebasNeue.otf);
}
@font-face{
	font-family: "huntress";
	src: url(fonts/huntress.otf);
}

h1{
	font-size:6em;
	font-family: "VTKSSALGROSSO", sans-serif;
	color: #000;
}

.container{
    max-width: 720px;
}
#home-bod{
	background-color: #252633;
}
.home-nav{
	font-family: "huntress",sans-serif;
	font-size: 45px;
	text-decoration: none;
	color: #b7b7b7;

}
.home-nav:hover{
	color: #000;
	text-decoration: none;

}
#home-title{
	z-index: 25;
	font-size: 8em;	
	background-color: rgba(20,20,20);
}
#pic1{
	height:100%;
	overflow: hidden;
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom: black;
	z-index: -1;
	
}
#pic2{
	height:100%;
	overflow: hidden;
	opacity: 0.8;
}
#pic3{
	height:100%;
	overflow: hidden;
}
#pic4{
	height:100%;
	overflow: hidden;
	opacity: 0.8;
}
.border {
	border: 0px;
    padding-bottom: 0px;
	width: 0px;
	height: 150px;
	position: relative;
}
#output{
	position: absolute;
	top:0%;
	left:-90%;
	height:24.5%;
	width:75%;
	overflow: hidden;
	z-index: -1;
}
#output2{
	z-index: -1;
	position: absolute;
	top:25%;
	left:-90%;
	height:24.5%;
	width:70%;	
	overflow: hidden;
}
#output3{
	z-index: -1;
	position: absolute;
	top:50%;
	left:-90%;
	height:24.5%;
	width:78%;
	overflow: hidden;
}
#output4{
	z-index: -1;
	position: absolute;
	top:75%;
	left:-90%;
	height:24.5%;
	width:84%;
	overflow: hidden;	
}

#o2l a{
	float:left;
	position:relative;
	left: 90%;
	text-decoration: none;
}
#o2l a::hover{
	color: white;
}
#link1{
	position: absolute;
	font-size: 4.2em;
	right:55%;
	top:20%;
}
#link2{
	position: absolute;
	font-size: 4em;
	right:25%;
	top:33%;
}
#link3{
	position: absolute;
	font-size: 3.3em;
	right:15%;
	top:47%;
}
#link4{
	position: absolute;
	font-size: 4.2em;
	right:8%;
	top:60%;
}
/*char style */
#character-body{
	background-color: #ab0303;
}
#chartext{
	z-index: -1;
	float:right;
	position: relative;
	left:20%;
	background-color: #ab0303;
	width: 40%;
	height:80%;
	font-family: "Raleway-SemiBold",sans-serif;
}


#charover{
	float:right;
	position: relative;
	left: 55%;
	top: 300px;
	z-index: 2;
	background-color: rgba(191,184,184,0.35);
	width: 500px;
	height:200px;
}
#chimage{
	position: relative;
	top: 60%;
    left:0%;
	z-index: -1;
}
#ci{
	width:17%;
	position: relative;
	top: 80px;
	left: -14%;
}
/* Michaela Style */
/*Font*/


/*Creatures*/


.creature-logo{
	font-family: "BebasNeue",sans-serif;
	font-size: 60px;
	margin-left: 40px;
	margin-top: 30px;
	padding-right: 70px; 
	background-color: #303030;
	float: left;
}

.creature-nav{
	font-family: "BebasNeue",sans-serif;
	float: right;
	margin-top: 50px;
	margin-right: 100px;
	font-size: 20px;
}

#about{
	margin-top: -8px;
	margin-left: 90px;
}

#creatures{
	margin-left: 160px;
	margin-top: -5px;
}

#biomes{
	margin-left: 210px;
	margin-top: -70px;
}

#character{
	margin-left: 290px;
	margin-top: 40px;
}

.creature-nav a{
	color: #FFF;
	text-decoration: none;
	border:0px solid #303030;
	padding: 5px;
}

.creature-nav a:hover{
	color: #303030;
}

.creature-title{
	position: absolute;
	left: 0%;
	top: 70%;
	font-family: 'BebasNeue';
	font-size: 500%;
	z-index: 5;
	color:white;
}

.creature-content{
	position: absolute;
	right: 15%;
	top: 40%;
	width: 20%;
	opacity: 0;
	font-size: 120%;
	color: #000;
	font-family: "Arsenal-Regular",sans-serif;
}	

.over-content{
	position: absolute;
	right: 8%;
	top:10%;
	transform: rotate(90deg);
	font-family: "Arsenal-Regular",sans-serif;
	font-size: 140%;
}

.creature-img img{
	top: 15%;
	width: 60%;
	position: absolute;
	left: 0%;
}
.crt-img img{
	top: 15%;
	width: 30%;
	position: absolute;
	left: 0%;
}
.next{
	position: absolute;
	right: 5%;
	bottom:3%;
	font-family: 'BebasNeue';
	font-size: 5em;
	cursor: pointer;
}
/* NJ CsS */
.aboutBody{
	background-color: #fd8c00;
}
.right{
	position: absolute;
	z-index: -1;
	right:0%;
	top:-2%;
	height:105%;
}
#aboutText{
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 2%;
	padding-top: 2%;
	width: 30%;
	background-color: rgba(250,115,1,0.5);
	position: absolute;
	top:38%;
	left:17%;
	font-family: "Arsenal-Regular",sans-serif;
}
.flip-container {
	z-index: 5;
	perspective: 1000px;
	position: absolute;
	left:-25%;
	top:15%;
	background-color: rgba(220,130,1,0.5);
}
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 320px;
	height: 200px;
}
.flipper {

	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.front {
	z-index: 2;
	transform: rotateY(0deg);
}
.frontText{
	color:#f3f2f1;
}
.backText{

  	-webkit-transform:rotateY(180deg);
	-moz-transform:rotateY(180deg);
	-o-transform:rotateY(180deg);
	-ms-transform:rotateY(180deg);
}
.topFloat{
	position: absolute;
	background-color: rgba(220,130,1,0.5);
	width: 15%;
	left:50%;
	top:20%;
	height:20%;
}
.topFloat2{
	position: absolute;
	background-color: rgba(255,180,1,0.5);
	width: 35%;
	left:10%;
	top:40%;
	height:40%;
}
.back {
	transform: rotateY(180deg);
}
.left{
	position: absolute;
	z-index: -1;
	left:0%;
	top:-2%;
	height:105%;
}
/*char  */
#charBody{
	background-color: #ab0303;
}
.flip-container2 {
	z-index: 5;
	perspective: 1000px;
	position: absolute;
	left:40%;
	top:15%;
	background-color: rgba(228,10,9,0.5);
}
.flipper2 {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}
.flip-container2:hover .flipper2, .flip-container2.hover .flipper2 {
	transform: rotateY(180deg);
}
.topFloatC2{
	position: absolute;
	background-color: rgba(228,10,9,0.5);
	width: 15%;
	left: 40%;
	top:40%;
	height:20%;
}
.topFloat2inverse{
	position: absolute;
	background-color: rgba(102,4,9,0.5);
	width: 35%;
	left:60%;
	top:21%;
	height:40%;
}
.flipper2 {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.front {
	z-index: 2;
	transform: rotateY(0deg);
}
#charText{
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 2%;
	padding-top: 2%;
	width: 30%;
	background-color: rgba(113,0,5,0.5);
	position: absolute;
	top:45%;
	right:17%;
	font-family: "Arsenal-Regular",sans-serif;
}
#creature-body{
	background-color: #067c01;
}
.biome-body{
	background-color: #083f8e;
}
.creature-h{
	position: absolute;
	top:5%;
	font-size:6em;
	font-family: "VTKSSALGROSSO", sans-serif;
	color: #000;
}

/*home */
